<a href="/contents" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> contents</span></a>
  <a href="/contents/intro/customer-who/communication/dont-say-no" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"> next page</span></a>
    
    <h1 class="jumbotron">aim for over communication</h1>
    
<div class="row">
  <div class="col-md-4">
    <h2>Something about the image</h2>
    <p class="lead">annotate as pdf</p>
  </div>
  <div class="col-md-8">
    <img class="img-rounded" src="/img/communication1.png" alt="evernote image showing sketch tool" width=620px/>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Something about the image</h2>
    <p class="lead">add cool symbols</p>
  </div>
  <div class="col-md-8">
    <img class="img-rounded" src="/img/communication2.png" alt="evernote image showing sketch tool" width=620px/>
  </div>
</div>
