<a href="/contents" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> contents</span></a>
    
    <h2 class="jumbotron text-center regular-text">Conclusion</h2>
    <p class="regular-text">In General:</p>
    <ul class="regular-text">
      <li>Be professional.</li>
      <li>Learn from your mistakes.(that means you sort of have to care)</li>
      <li>Learn from others</li>
        <ul>
          <li>Read books written by or written about good people.</li>
          <li>Read books written about good companies</li>
        </ul>
    </ul>
    
    <div class="row">
        <div class="col-md-4 col-md-offset-4 book">
          <a href="https://www.helpscout.net/blog/" target="_blank"><img src="/img/helpscout.jpg" class="img-rounded"></a>
        </div>
      </div>
    
  <div class="row">
    <div class="col-md-3">
      <p class="smaller-text">4 copies at the Denver Public Library.<br>Call Number: 006.7 Krug</p>
    </div>
    <div class="col-md-3 book">
      <a href="http://www.amazon.com/Dont-Make-Think-Revisited-Usability/dp/0321965515/ref=sr_1_1?s=books&ie=UTF8&qid=1428866459&sr=1-1&keywords=dont+make+me+think" target="_blank">
        <img src="/img/dontmakemethink.jpg" class="img-rounded">
      </a>
    </div>
    <div class="col-md-4 col-md-offset-1 book">
      <a href="http://www.amazon.com/Delivering-Happiness-Profits-Passion-Purpose/dp/0446576220/ref=sr_1_1?s=books&ie=UTF8&qid=1428866432&sr=1-1&keywords=tony+hsieh" target="_blank">
        <img src="/img/deliveringhappiness.jpg" class="img-rounded">
      </a>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 col-md-offset-2 book">
      <a href="http://www.amazon.com/Be-Our-Guest-Perfecting-Institute/dp/1423145844/ref=sr_1_3?ie=UTF8&qid=1428866375&sr=8-3&keywords=customer+service" target="_blank">
        <img src="/img/beourguest.jpg" class="img-rounded">
      </a>
    </div>
    <div class="col-md-4 col-md-offset-1 book">
      <a href="http://www.amazon.com/Zingermans-Guide-Giving-Great-Service/dp/1401301436/ref=sr_1_1?s=books&ie=UTF8&qid=1428866518&sr=1-1&keywords=zingermans" target="_blank">
        <img src="/img/zingermans.jpg" class="img-rounded">
      </a>
    </div>
  </div>