<a href="/contents" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> contents</span></a>
  <a href="/contents/intro/customer-who/communication/dont-say-no/take-initiative" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"> next page</span></a>
  <div class="jumbotron text-center no-jumbo">
    <h1>Words Matter <small>ex. "That would be really hard"</small></h1>
  </div>
    
    <h3 class="regular-text">Other things you could say to a weird request:</h3>
    
    <ul class="regular-text">
      <li>Let's try to find an alternative to that.</li><br>
      <li>That would change the functionality of this page.</li><br>
      <li>I'll talk to #{@boss.name} to see how we can prioritize that.</li><br>
      <li>Can you write a spec for that?</li><br>
      <li>Can you explain the problem a little better?</li><br>
    </ul>                         