
<a href="/" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> home</span></a>


<h2 class="regular-text">Table of Contents</h2>

<ul class="nav nav-pills nav-stacked regular-text">
  <li role="presentation"><a href="/contents/intro">Introduction</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who">Customer</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who/communication">Communication</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who/communication/dont-say-no">What not to say</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who/communication/dont-say-no/take-initiative">The Little Things</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who/communication/dont-say-no/take-initiative/conclusion">Conclusion</a></li>
</ul>
  
  