
<a href="/" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> home</span></a>


<h2>Table of Contents</h2>

<ul class="nav nav-pills nav-stacked">
  <li role="presentation"><a href="/contents/intro">my background</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who">everyone has a customer</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who/communication">aim for over communication</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who/communication/dont-say-no">Don't say "no"</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who/communication/dont-say-no/take-initiative">take initiative</a></li>
  <li role="presentation"><a href="/contents/intro/customer-who/communication/dont-say-no/take-initiative/conclusion">conclusion</a></li>
</ul>
  
  