<a href="/contents" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> contents</span></a>
  <a href="/contents/intro/customer-who" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"> next page</span></a>


  <h2 class="jumbotron text-center regular-text">My Background<h2>
    
    <div class=row>
      <div class="col-md-9 col-md-offset-3">
        <p><var>years of customer service experience</var></p>
      </div>
    </div>
    <div class=row>
      <div class="col-md-1 col-md-offset-2">
        <strong class="math">+</strong>
      </div> 
        <div class="col-md-9">
          <p><var>years of working with developers(not as a developer)</var></p>
       </div>
     </div>
     <div class=row>
       <div class="col-md-6 col-md-offset-2">
         <p>_________________________________________________________</p>
        </div>
      </div>
     <div class=row>
       <div class="col-md-9 col-md-offset-3">
          <p><var>some experiences you may benefit from</var></p>
        </div>
      </div>
      </p>
      
    </div>
  
