<a href="/contents" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> contents</span></a>
  <a href="/contents/intro/customer-who/communication" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"> next page</span></a>

<h2> know your customer</h2>