<a href="/contents" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> contents</span></a>
  <a href="/contents/intro/customer-who/communication" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"> next page</span></a>

<div class="jumbotron text-center" id="customer-div">
  <h2 class="regular-text">Customer:</h2><p>a person one has to deal with</p>
</div>

<!-- <div class="row color-bar">
  <div class="col-md-8 col-md-offset-2">
  </div>
</div> -->
<!-- < -->
<ol class="regular-text">
  <li>Define your customer.</li>
  <li>Get to know your customer.</li>
    <ul>
      <li>Practice active listening, ask questions, repeat back what they say.</li>
      <li>Use appropriate language.</li>
    </ul>
</ol>
<div class="row">
  <div class="col-md-5 col-md-offset-2">
<img class="img-rounded" src="/img/Active-Listening.jpg" alt="active listening picture" width=620px/>

</div>
</div>