<a href="/contents" type="button" class="btn btn-default" aria-label="Left Align">
  <span class="glyphicon glyphicon-hand-left" aria-hidden="true"> contents</span></a>
  <a href="/contents/intro/customer-who/communication/dont-say-no/take-initiative/conclusion" type="button" class="btn btn-default" aria-label="Left Align">
    <span class="glyphicon glyphicon-hand-right" aria-hidden="true"> next page</span></a>
    
    <h2 class="jumbotron text-center regular-text">The Little Things</h2>
    
    <div class="text-center">
      <h2>Making a small change without being asked can go a long way:<br><small>A Story</small></h2>
   </div>